@page "/inventoryreport"

@inject ISearchInventoryTransactionsUseCase SearchInventoryTransactionsUseCase
@inject IJSRuntime JSRuntime

<h3>Movimiento de Inventarios</h3>
<br/>

<div id="printarea">
<div class="row">
    <div class="col">
        <label for="inv">Nombre</label>
        <input type="text" id="inv" class="form-control" @bind-value="invName" />
    </div>

    <div class="col">
        <label for="df">Desde(Fecha)</label>
        <input type="date" id="df" class="form-control" @bind-value="dateFrom" />
    </div>

    <div class="col">
        <label for="dt">Hasta(Fecha)</label>
        <input type="date" id="dt" class="form-control" @bind-value="dateTo" />
    </div>

    <div class="col">
        <label for="at">Tipo de movimiento)</label>
        <select id="at" class="form-control" @bind="activityTypeId">
            <option value="0"></option>
            <option value="1">Compra</option>
            <option value="2">Producción</option>
        </select>
    </div>

    <div class="col">
        <label>&nbsp;</label>
        <button type="button" class=" btn btn-primary form-control" @onclick="SearchInventories">Buscar</button>
    </div>

    <div class="col">
        <label>&nbsp;</label>
        <button type="button" class=" btn btn-primary form-control" @onclick="PrintReport">Imprimir</button>
    </div>

</div>
<br/>
@if (inventoryTransactions != null)
{
   
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Inventario</th>
                    <th>Tipo de movimiento</th>
                    <th>Cantidad Anterior</th>
                    <th>Cantidad Actual</th>
                    <th>No.Orden/Compra</th>
                    <th>No.Orden/Producción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var it in inventoryTransactions)
                {
                    <tr>
                        <td>@it.TransactionDate.ToString("dd/MM/yyyy")</td>
                        <td>@it.Inventory.InventoryName</td>
                        <td>
                            @if (it.ActivityType == InventoryTransactionType.PurchaseInventory)
                            {
                                <text>Compra</text>
                            }
                            else if (it.ActivityType == InventoryTransactionType.ProduceProduct)
                            {
                                <text>Producción</text>
                            }
                        </td>
                        <td>@it.QuantityBefore</td>
                        <td>@it.QuantityAfter</td>
                        <td>@it.PONumber</td>
                        <td>@it.ProductionNumber</td>
                    </tr>
                }
            </tbody>
        </table>

   
}
</div>
@code {
    private string invName;
    private DateTime? dateFrom;
    private DateTime? dateTo;
    private int? activityTypeId =0;
    private IEnumerable<InventoryTransaction> inventoryTransactions;

    private async Task SearchInventories()
    {
        InventoryTransactionType? inventoryTransactionType = null;

        if (activityTypeId != 0) inventoryTransactionType = (InventoryTransactionType)activityTypeId;

        inventoryTransactions = await SearchInventoryTransactionsUseCase.ExecuteAsync(
            invName,
            dateFrom,
            dateTo,
            inventoryTransactionType);
    }

    private void PrintReport()
    {
        JSRuntime.InvokeVoidAsync("print");
    }
}
